

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
	
    


    
}

html{
    scroll-behavior: smooth;
}
.navbar-nav{
   margin-left: auto !important ;
}
.navbar-brand{
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 5, 5)!important;
}
.navbar-brand img{
    width: 8%;
    height: 8%;
}
.nav-link{
    font-size: 16px;
    margin: 15px;
    color: rgb(2, 1, 1)!important;

}
.nav-link:hover{
    color:aqua!important;
}
/*footer*/
.container{
	margin-top: 23px;
	max-width: 1150px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.container2{
	padding-top: 70px;
	max-width: 1170px;
	margin:auto;
}

.row2{
	display: flex;
	flex-wrap: wrap;
}
ul{
	padding-left: 0px !important;
	list-style: none;
}

.footer{
    margin-top: 33px;
	background-color: black;
    padding: 25px
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col .ggg{
     color: #bbbbbb;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: aqua;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul  p {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	margin-top: 37px;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 1028px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .navbar-toggler {
		float: left!important;
		margin-right:22px !important;
	}


}



@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
	.navbar-toggler {
		float: left!important;
		margin-right:22px !important;
	}
}




