{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/cancer.css">
<div class="intro">
    <h1 class="text-center text-capitalize pt-5">Know your chances of getting Cancer in one Click!</h1>
</div>
<div class="middlepart">
    <div class="image">
        <img class='img1' src="/static/pink-ribbon.png">
    </div>

     <form action="/cancerpredict" method="post">
          <div class="form-group">

                <label for="concave points_mean">Mean of the Concave Points</label>
                <input class="form-control" type="number" step="any" id="concave points_mean" name="concave points_mean" required="required" placeholder="Mean of the Concave Points">
              </div>
         <div class="form-group">
                <label for="area_mean">Mean of the Area</label>
                <input class="form-control" type="number" step="any" id="area_mean" name="area_mean" required="required" placeholder="Mean of the Area">
              </div>
              <div class="form-group">
                <label for="radius_mean">Mean of the Radius</label>
                <input class="form-control" type="number" step="any" id="radius_mean" name="radius_mean" required="required" placeholder="Mean of the radius">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Mean of the Perimeters</label>
                <input class="form-control" type="number" step="any" id="perimeter_mean" name="perimeter_mean" required="required" placeholder="Mean of the Parameter">
              </div>
              <div class="form-group">
                <label for="concavity_mean">Mean of the Concavity</label>
                <input class="form-control" type="number" step="any" id="concavity_mean" name="concavity_mean" required="required" placeholder="Mean of the concavity">
              </div>
               <div class="predictionbutton">

      <button type="submit" class="btn btn-danger predictionbutton">Predict</button>
    </div>

            </form>






</div>
<div class="predict">
    <h1 class="h3">{{pred}}</h1>
</div>
{% endblock body %}