{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/cancer.css">
<div class="intro">
  <h1 class="text-center text-capitalize pt-5">Know your chances of getting HeartProblem in one Click!</h1>
</div>
<div class="middlepart">
  <div class="image">
    <img class='img1' src="/static/heartbeat.png">
  </div>



  <form action="/heartpredict" method="post">

    <div class="form-group">
      <label for="chol">Age</label>
      <input class="form-control" type="number" step="any" id="age" name="age" required="required" placeholder="Age">
    </div>


    <div class="form-group">
      <label for="fbs">Gender</label>
      <select class="form-control" id="gender" name="gender" required="required" placeholder="Gender">
        <option value="1">Male</option>
        <option value="0">Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cp">Chest Pain Type</label>
      <select class="form-control" id="cp" name="cp" required="required" placeholder="Chest Pain Type">
        <option value="1">Typical Angina</option>
        <option value="2">Atypical Angina</option>
        <option value="3">Non-Anginal Pain</option>
        <option value="4">Asymptomatic</option>
      </select>
    </div>


    <div class="form-group">
      <!-- TODO : Year to accept only year date picker -->
      <label for="trestbps">Resting Blood Pressure (in mm Hg)</label>
      <input class="form-control" type="number" id="trestbps" name="trestbps" required="required"
        placeholder="Resting Blood Pressure">
    </div>

    <div class="form-group">
      <label for="chol">Serum Cholestoral in mg/dl</label>
      <input class="form-control" type="number" step="any" id="chol" name="chol" required="required"
        placeholder="Serum Cholestoral">
    </div>



    <div class="form-group">
      <label for="fbs">Fasting Blood Sugar</label>
      <select class="form-control" id="fbs" name="fbs" required="required" placeholder="Fasting Blood Sugar">
        <option value="0">Fasting Blood Sugar < 120 mg/dl</option>
        <option value="1">Fasting Blood Sugar > 120 mg/dl</option>
      </select>
    </div>

    <div class="form-group">
      <label for="restecg">Resting Electro-cardiographic Result</label>
      <select class="form-control" type="number" id="restecg" name="restecg" required="required"
        placeholder="Resting Electro-cardiographic Result">
        <option value="0">Normal</option>
        <option value="1">having ST-T wave abnormality</option>
        <option value="2">showing probable or definite left ventricular hypertrophy</option>
      </select>
    </div>

    <div class="form-group">
      <label for="thalach">Maximum Heart Rate Achieved</label>
      <input class="form-control" id="thalach" name="thalach" placeholder="Maximum Heart Rate Achieved "
        required="required">
    </div>

    <div class="form-group">
      <label for="exang">Exercise Induced Angina</label>
      <select class="form-control" id="exang" name="exang" placeholder="Exercise Induced Angina" required="required">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div class="predictionbutton">

      <button type="submit" class="btn btn-danger predictionbutton">Predict</button>
    </div>



  </form>
</div>
<div class="predict">
  <h1 class="h3">{{pred}}</h1>
</div>
{% endblock body %}