{% extends "layout.html" %}

{% block body %}

<div>

  <link rel="stylesheet" href="/static/main.css">


  <main class="section-0" id="sect0">
    <div class="container-fluid p-0">
      <div class="site-content">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <h1 class="site-title">We Make Quality Healthcare</h1>
            <p class="site-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            </p>

            <p class="site-btn1">Lorem ipsum dolor
            </p>





          </div>
        </div>

      </div>

    </div>
  </main>
  <div class=" boxs">
    <div class="box">

      <img class='img2' src="/static/pink-ribbon.png">
      <h4 class="midhead">Breastcancer</h4>
      <a class="fas fa-arrow-alt-circle-right gg" href="/breastcancer"></a>

    </div>
    <div class="box">

      <img class='img2' src="/static/glucose-meter.png">
      <h4 class="midhead">Diabetes</h4>
      <a class="fas fa-arrow-alt-circle-right gg" href="/diabetes"></a>

    </div>
    <div class="box">

      <img class='img2' src="/static/heartbeat.png">
      <h4 class="midhead">HeartProblem</h4>
      <a class="fas fa-arrow-alt-circle-right gg" href="/heart"></a>

    </div>
    <div class="box">

      <img class='img2' src="/static/kdny.png">
      <h4 class="midhead">KidneyProblem</h4>
      <a class="fas fa-arrow-alt-circle-right gg" href="/kidney"></a>

    </div>
    <div class="box">
      <img class='img2' src="/static/liver.png">

      <h4 class="midhead">LiverProblem</h4>
      <a class="fas fa-arrow-alt-circle-right gg" href="/liver"></a>

    </div>



  </div>
  <div class="section3">

    <img class='img1' src="/static/bg3.jpg">

    <div class="textsection">
      <h1>
        We’re Setting the Standards in Research & Clinical Care
      </h1>
      <p class="ptag">
        We provide the most full medical services, so every person could have the opportunity to receive qualitative
        medical
        help. Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics
        and bore
        advanced restorative dentistry. We are among the most qualified implant providers in the USA with over 35 years
        of
        quality training and experience.
      </p>

    </div>
  </div>
  <div class=" section-3" id="sect3">

    <div class="row">
      <div class="col-md-4 smallcol">
        <div class="d-flex flex-row">
          <i class="fas fa-stethoscope  fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">24/7</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas, a illo nisi
              iure
              fugiat debitis repellendus, ipsum distinctio error, corrupti aperiam eos cumque
              accusamus
              explicabo et odio iste esse.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 smallcol">
        <div class="d-flex flex-row">
          <i class="fas fa-ambulance fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">24/7</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas, a illo nisi
              iure
              fugiat debitis repellendus, ipsum distinctio error, corrupti aperiam eos cumque
              accusamus
              explicabo et odio iste esse.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 smallcol">
        <div class="d-flex flex-row">
          <i class="fas fa-capsules fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3 class="m-2">24/7</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptas, a illo nisi
              iure
              fugiat debitis repellendus, ipsum distinctio error, corrupti aperiam eos cumque
              accusamus
              explicabo et odio iste esse.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>




  {% endblock body %}